#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.progressbar {
  /* width: 400px; */
  height: 15px;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 10px;
}

.progressbar div {
  /* width: 33.3%; */
  height: 100%;
  background-color: rgb(98, 0, 255);
  border-radius: 10px;
}
